<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>form submit</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="nav-bar">
        <a th:href="@{/}"><img src="/img/leoni.png" width="150" alt="logo"></a>
        <ul class="nav-bar-item">
            <li><a class="links" th:href="@{/home}">Home</a></li>
            <li><a class="links" th:href="@{/about}">about</a></li>
            <li><a class="links" th:href="@{/user?link}">User</a></li>
            <li onclick="showMenu(this)" id="menu" ><a href="#menu">admin</a></li>
            <li class="bar-menu-container">
                <ul class="bar-menu nav-bar-item">
                    <li class="nav-btns">
                        <div class="nav-header">Head1</div>
                        <ul class="nav-btns">
                            <li><a th:href="@{/user?link=head1-link1}">link1</a></li>
                            <li><a th:href="@{/user?link=head1-link2}">link2</a></li>
                            <li><a th:href="@{/user?link=head1-link3}">link</a></li>
                        </ul>
                    </li>
                    <li class="nav-btns">
                        <div class="nav-header">Head2</div>
                        <ul class="nav-btns">
                            <li><a th:href="@{/user?link=head2-link1}">link</a></li>
                            <li><a th:href="@{/user?link=head2-link2}">link</a></li>
                            <li><a th:href="@{/user?link=head2-link3}">link</a></li>
                        </ul>
                    </li>
                    <li class="nav-btns">
                        <div class="nav-header">Head3</div>
                        <ul class="nav-btns">
                            <li><a th:href="@{/user?link=head3-link1}">link1</a></li>
                            <li><a th:href="@{/user?link=head3-link2}">link2</a></li>
                            <li><a th:href="@{/user?link=head3-link3}">link3</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="form-container">
        <form class="form" th:action="@{/form/submit}" method="post" enctype="multipart/form-data" >
            <div class="header-center" >
                <h1>Form1</h1>
            </div>
            <div class="field align">
                <label>text field:</label>
                <input required type="text" th:placeholder="${form.textField}" th:value="${form.textField}" name="textfield" >
            </div>
            <div class="align">
                <label>radio button:</label>
                <div class="align-width" >
                    <input required type="radio" th:value="${form.radioBtn}" name="radiobtn" >
                </div>
            </div>
            <div class="read-only field align">
                <label >read only input</label>
                <input required class="no-select" type="text" name="readonlyfield" th:value="${form.readOnlyInput}" readonly >
            </div>
            <div class="align" >
                <label>file input:</label>
                <div class="align-width">
                    <input required type="file" name="file" >
                </div>
            </div>
            <div class="align" >
                <label>autocomplete field:</label>
                <div class="align-width">
                    <div class="auto field">
                        <input required id="text"  type="text" onkeydown="fetchData()" placeholder="type anything" name="autocomplete" >
                        <div class="data-list" id="data" >
                
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-btn">
                <input type="submit" value="submit">
            </div>
        </form>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>