<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</head>
<body>
<!--nav-bar-->
<nav class="navbar navbar navbar-expand-lg navbar-dark" style="z-index: 1000;background-color: rgb(33, 33, 33);" >
    <a class="navbar-brand px-2" th:href="@{/}"><img src="/img/leoni.png" width="120" alt="logo"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-link" ><a th:href="@{/home}">Home</a></li>
            <li class="nav-link" ><a th:href="@{/about}">about</a></li>
            <li class="nav-link active" ><a th:href="@{/user?link}">User</a></li>
        </ul>
    </div>
    <div class="dropdown d-flex align-items-center px-3">
        <a class="nav-link dropdown-toggle" href="#" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user">
            </i>
            admin
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">                        
            <li><a class="dropdown-item" th:href="@{/form/submit}">sub menu1</a></li>
            <li><a class="dropdown-item" th:href="@{/user?link=submenu2}">sub menu2</a></li>
        </ul>
        <a class="p-1" th:href="@{/user/logout}">
            <i class="fa fa-sign-out"></i>
        </a>
    </div>
</nav>
<!--end-of-nav-bar-->

<div class="d-flex col-sm-12 h-100 position-absolute justify-content-center align-items-center" style="top:0px; overflow: hidden;" >
    <div th:text="${user.message}"></div>
    <h1 class="position-absolute bg-dark text-light p-2" style="bottom: 100px;">this data only apear to authenticated users</h1>
</div>
<script src="/js/main.js"></script>
</body>
</html>