<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</head>
<body>
<!--nav-bar-->
    <nav class="navbar navbar navbar-expand-lg navbar-dark" style="z-index: 1000;background-color: rgb(33, 33, 33);" >
        <a class="navbar-brand px-2" th:href="@{/}"><img src="/img/leoni.png" width="120" alt="logo"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-link active" ><a th:href="@{/home}">Home</a></li>
                <li class="nav-link" ><a th:href="@{/about}">about</a></li>
                <li class="nav-link" ><a th:href="@{/user?link}">User</a></li>
            </ul>
        </div>
        <div class="d-flex px-3">
            <div class="nav-link" th:if="${!user.connected}">
                <a th:href="@{/loginpage}">
                    <i class="fa fa-user">
                    </i>
                    connect
                </a>
            </div>
            <div th:if="${user.connected}" class="dropdown d-flex align-items-center">
                <a class="nav-link dropdown-toggle" href="#" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user">
                    </i>
                    admin
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">                        
                    <li><a class="dropdown-item" th:href="@{/form/submit}">sub menu1</a></li>
                    <li><a class="dropdown-item" th:href="@{/user?link=submenu2}">sub menu2</a></li>
                </ul>
                <a class="p-1" th:href="${/user/logout}">
                    <i class="fa fa-sign-out"></i>
                </a>
            </div>
        </div>
    </nav>
<!--end-of-nav-bar-->
<!--home-->
<div class="col-sm-12 h-100" >
    <p class="position-absolute col-sm-3 text-justify" style="bottom: 10px;right:50px;" >Leoni est un fournisseur mondial de câbles, fibres optiques, systèmes de câblage ainsi que des services connexes de développement pour des applications dans l´industrie automobile et d´autres industries.

        Il est présent dans 31 pays à travers le monde et emploie 63 500 salariés.

        Son chiffre d’affaires en 2011 a été de l’ordre de 3 700 millions d’€.

        Depuis 1977, le groupe LEONI est implanté en Tunisie. Détenant 3 sites de production situés à Messaadine (Sousse), Mateur (Bizerte) et Ezzahra (Ben Arous), il emploie plus de 14 000 cadres et ouvriers.

        LEONI Tunisie est spécialisée dans la fabrication des câbles électroniques et électriques destinés au secteur automobile et plus particulièrement à la marque Mercedes.</p>
</div>
<!--end home-->
</body>
</html>