<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!--nav-bar-->
<nav class="nav-bar">
    <img src="/img/leoni.png" width="150" alt="logo">
    <ul>
        <li><a th:href="@{http://localhost:8080/home}">Home</a></li>
        <li><a th:href="@{http://localhost:8080/about}">about</a></li>
        <li><a th:href="@{http://localhost:8080/user}">User</a></li>
    </ul>
</nav>
<!--end-of-nav-bar-->
<!--home-->
<div class="img container">
    <img src="" alt="">
</div>
<div class="para container" >
    <p>Leoni est un fournisseur mondial de câbles, fibres optiques, systèmes de câblage ainsi que des services connexes de développement pour des applications dans l´industrie automobile et d´autres industries.

        Il est présent dans 31 pays à travers le monde et emploie 63 500 salariés.

        Son chiffre d’affaires en 2011 a été de l’ordre de 3 700 millions d’€.

        Depuis 1977, le groupe LEONI est implanté en Tunisie. Détenant 3 sites de production situés à Messaadine (Sousse), Mateur (Bizerte) et Ezzahra (Ben Arous), il emploie plus de 14 000 cadres et ouvriers.

        LEONI Tunisie est spécialisée dans la fabrication des câbles électroniques et électriques destinés au secteur automobile et plus particulièrement à la marque Mercedes.</p>
</div>
<!--end home-->
</body>
</html>