*{
    margin: 0px;
    padding:0px;
}
.full-cont{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.form-width{
    display:flex;
    flex-direction:column;
    width: 400px;
    gap:5px;
}

.nav-bar{
    padding: 20px;
    height: 60px;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar ul{
    list-style: none;
    height: 100%;
}

.nav-bar .nav-bar-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul li a {
    text-decoration: none; 
    color: black;
    letter-spacing: 1px;
}

.links{
    font-size: 28px;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 10px 20px;
    color: rgb(7, 36, 206) !important;
}

.links:hover{
    background-color: white !important;
    padding: 10px 20px;
    border-radius: 26px;
    color: black !important;
}
.home.container{
    height: 100vh;
    background-image: url("/img/home-bg.jpg");
}

#welcome-title{
    background: linear-gradient();
    color: white;
    letter-spacing: 2px;
    font-size: 120px;
    position: fixed;
    right:200px;
    bottom: 80px;
}

.welcome.container{
    width: 100vw;
    height: 40vh;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,155,255,0.804359243697479) 58%, rgba(0,155,255,1) 100%);
}

.para.container{
    position: fixed;
    width: 300px;
    text-align: justify;
    right: 200px;
    bottom: 50px;
}

.user{
    width: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 100px;
    font-size: 26px;
    flex-direction: column;
}
.center{
    position: fixed;
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    bottom: 150px;
}

.error{
    background-color: rgb(247, 47, 47);
    color: white;
    border: 3px solid rgb(253, 213, 213);
    text-align: center;
    padding: 5px 0px;
    border-radius: 5px;
    margin: 5px 0px;
}

/*menu styling*/
.bar-menu-container{
    height: 0px;
    position: absolute;
    width: 100vw;
    left: 0;
    top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    overflow: hidden;
    transition: all 1s; 
}
.bar-menu{
    width: 40vw;
    padding: 30px;
}

.nav-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 10px;
}

.nav-btns li, .nav-header{
    border-radius: 5px;
    width: 10vw;
    text-align: center;
}

 .nav-btns li:hover, .nav-header:hover{
    background-color: rgb(61, 194, 255);
}

.nav-btns li {
    padding: 4px 0px;
}

.nav-header{
    letter-spacing: 2px;
    font-size: 30px;
    padding: 10px 0px;
}

.bar-menu-container.active{
    height: auto;
    background-color: rgb(241, 241, 241);
}


